
<p style="padding:20px">
Sorry, the mobile web version of OpenMBTA has been taken offline.

We may work on releasing an improved version in the near future.
</p>


<%= link_to(image_tag('/images/Default.png', :width => 150, :border => 0), "/") %>


