<% if @num_pages.size > 1 %>
<div class="pagerControls">
  <span class="pageLeftLink">
    <%= link_to_function "<< start", "toStart()" %>
    |
    <%= link_to_function "< prev", "pageLeft()" %>
  </span> 
  |
  <span class="pageRightLink">
    <%= link_to_function "next >", "pageRight()" %>
    | <%= link_to_function "end >>", "toEnd()" %>
  </span>
  <div class='note' style='margin-top:0;text-align:center;'>
    You can also try swiping left or right
  </div>
</div>
<% end %>
