%div{:style=>"padding: 5px 10px"}
  %h3
    Guide
  %p
    OpenMBTA shows you stop locations, the next arrival times at each stop, and
    time schedules for the route you selected. You can switch between a map
    view and schedule view for each route.
  %p
    Here is a guide to what the colored pins in the map view mean:

  %table.pin
    %tr
      %td
        =image_tag '/images/map/PinDown1.png' 
      %td
        A red pin is a stop. You can tap on any pin to show the stop name and the next few arrival times. If there are no more arrivals for the day, you'll see a message saying so.
    %tr
      %td
        =image_tag '/images/map/PinDown1Green.png' 
      %td
        A green pin is the starting point of a trip. A route might have more than one starting point if trips start from different places at different times of the day.
    %tr
      %td
        =image_tag '/images/map/PinDown1Purple.png'
      %td
        A purple pin is a stop where a 
        = @transport_type.downcase 
        is just about to arrive according to the MBTA schedule or according to the real-time data feed if available. You can take
        this as a rough indicator of where a 
        = @transport_type.downcase 
        is, or at least should be.
    %tr
      %td
        =image_tag '/images/map/TrackingDot.png'
      %td
        If you've allowed the app to use your iPhone's location, a blue dot
        will drop onto the map showing your current location if it's close
        to the route or the line you're looking at.
        When the blue dot appears, <strong>the pin for the nearest stop</strong>
        should automatically show its callout with next arrival times.

  %h3
    An important note on arrival times
  %p
    The arrival times displayed in the app are approximations rather than than guarantees.
    Service delays due to traffic and other conditions can change the actual arrival times.
    Please visit the <b>T Alerts</b> section of this app (from the Main Menu) 
    to see if there are any serious service delays or changes for any of the routes or lines
    you're waiting for.
  %p
    Also, there may be kinks in the 
    = link_to "GTFS", "http://code.google.com/transit/spec/transit_feed_specification.html" 
    data or in the way that OpenMBTA's data server interprets it that could result in wrong  schedule information.  With the help of user bug reports, these will be ironed out over time.
  %h3
    Tips for handling the map
  %p 
    In the map view, you can quickly zoom into an area of interest by
    double-tapping on a spot on the map. You can also pan around the map by
    dragging it, and zoom in or out by stretching and pinching the map with your fingers.

