<h3>FAQ</h3>

<p class="question">
  Q: Why is the iOS app rated 17+?
</p>

<p>A:
Because the Apple App Store approval process is so long and unpredictable, 
we were paranoid that they would reject us for showing the Twitter stream for #mbta. 
These tweets sometimes contain language that is inappropriate for young children.
</p>

<p class="question">
  Q: How can I support OpenMBTA?
</p>

<p>A: The more people who use OpenMBTA, the more time we'll spend 
developing it. So please tweet about it, demo the app for others, and give the app an encouraging
review in the Apple App Store.
</p>


