<h1>OpenMBTA Research</h1>

<p>This page is for research based on OpenMBTA's log data.</p>

<p>
The Google Group for OpenMBTA research can be found at
<a
href="http://groups.google.com/group/openmbta-research">http://groups.google.com/group/openmbta-research</a>.
Membership in the Google Group is selective and requires moderator approval.
</p>

<p>We're making processed logs of OpenMBTA client data available for
download.  This log data is formatted in CSV and IP addresses have been
stripped out.</p>

<p>
The CSV file currently looks like this:
<pre>
Bus,211,Squantum via North Quincy,2011-06-01 16:34:52 -0400
Bus,10,Outbound: City Point via South Bay Center ^ Andrew Station,2011-06-01 16:35:12 -0400
Bus,11,Bayview via Broadway,2011-06-01 16:35:45 -0400
Commuter Rail,Providence/Stoughton,Inbound,2011-06-01 16:35:47 -0400
Bus,1,Inbound: Dudley Station via Mass. Ave.,2011-06-01 16:36:01 -0400
Bus,10,Outbound: City Point via South Bay Center ^ Andrew Station,2011-06-01 16:36:03 -0400
Commuter Rail,Providence/Stoughton Line,Inbound: South Station,2011-06-01 16:36:08 -0400
Bus,SL2,Inbound: South Station,2011-06-01 16:36:16 -0400
Subway,Green Line,Inbound,2011-06-01 16:36:25 -0400
Subway,Green Line,Outbound,2011-06-01 16:36:36 -0400
Commuter Rail,Providence/Stoughton Line,Outbound: Providence,2011-06-01 16:36:40 -0400
</pre>
The fields are <code>transport type, headsign, direction, time</code>.
</p>

<p>
We'll publish more data going further back in time as we get around to
converting them to CSV format.
</p>

<h3>Downloads</h3>

<table class="downloads">
<thead>
  <th>download</th>
  <th>period</th>
  <th>size</th>
  <th>num records</th>
</thead>
<tbody>
  <tr>
    <td>
      <a href="http://openmbta.org/research/20110601-20111014.csv">20110601-20111014.csv</a>
    </td>
    <td>
      Jun 6, 2011 - Oct 14, 2011
    </td>
    <td> 126M </td>
    <td> 1827383 entries </td>
  </tr>
</tbody>
</table>

